*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Winky Sans", sans-serif;
    border: 10px solid #757cf7ed;
    height: 100vh;
}

header{
    align-items: center;
    top: 0%;
    justify-content: space-between;
    display: flex;
    background-color: #757cf7;
    text-decoration: none;
    color: white;
}
h3{
    font-size: 50px;
    font-family: "Winky Sans", sans-serif;
}
.TITULO{
    font-size: 100px;
}
.texto{
    margin-top: 50px;
    text-align: center;
}