
@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Winky Sans", sans-serif;
    border: 10px solid #757cf7ed;
    height: 100vh;
}

header{
    align-items: center;
    top: 0%;
    justify-content: space-between;
    display: flex;
    background-color: #757cf7;
    text-decoration: none;
    a{
        text-decoration: none;
        color: black;
        align-items: center;
        text-align: center;
    }

    nav{
        display: flex;
        gap: 1.2em;
        padding-right: 1em;
    }
    
}
h3{
    font-size: 50px;
    font-family: "Winky Sans", sans-serif;
}

.text-center{
    text-align: center;
}
.texto{
    margin-top: 50px;
}

li :hover{
    text-decoration: underline;
}

#segundotitulo{
    text-align: center;
}

#p1{
    font-family: "Sansation", sans-serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    font-size: 150%;
}
#p2{
    font-family: "Sansation", sans-serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4%;
    font-size: 150%;
}

#p3{
    padding-top: 4%;
    font-family: "Sansation", sans-serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 150%;
}